.footer {
    background: #003459;
    padding: 30px;
}
.footer__links {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
.footer__link {
    display: block;
    margin: 15px 0;
}
.footer__link a {
    color: white;
    text-decoration: none;
}
.footer__link a:hover, 
.footer__link a:active {
    color: #c1c1c1;
}
@media (min-width: 40rem) {
    .footer__link {
        display: inline-block;
        margin: 0 15px;
    }
    .footer {
        padding: 80px;
    }
}