.infobox {
    display: block;
}
.line {
    display: block;
    background: #003459;
}
.box {
    display: block;
    background: white;;
}
.header {
    text-align: center;
    font-size: 25px;
    padding: 5px 0;
    color: white;
    margin: 0;
}
.content {
    text-align: center;
    margin: 0;
    padding: 30px 10px;
}

@media (min-width: 40rem) {
    .infobox {
        display: inline-block;
        width: 30%;
        vertical-align: middle;
        margin: 50px 5px;
        max-width: 300px;
        min-width: 200px;
    }
}